<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/profileCard.css">

<div style="display: flex; justify-content: center; margin-bottom: 1em;">
    <a class="btn btn-warning" href="/logout">Logout</a>
</div>
<div class="container" style="margin-bottom: 1em;">
    <div class="card">
        <div class="picture">
            <div class="circle"></div>
            <img src="https://img.icons8.com/color/452/ultra-ball.png" alt="pfp">
        </div>
        <div class="info">
            <h1 class="title"><%= user.username %> </h1>
            <h3><%= user.email %> </h3>
            </div>
    </div>
</div>

<script src="/javascript/cardmove.js"></script>


