<% layout('layouts/boilerplate') %> 

<div class="container">
    <form action="/subreddits/<%= subreddit._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-lab">Title</label>
        <input type="text" name="subreddit[title]" class="form-control" id="title" value="<%= subreddit.title %>" maxlength="50">
      </div>
      <div class="mb-3">
        <label for="description" class="form-lab">Description</label>
        <textarea  class="form-control" name="subreddit[description]" id="description" cols="5" rows="3" maxlength="1000" style="resize: vertical;"><%= subreddit.description %></textarea>
      </div>
      <div class="mb-3">
        <label class="file-upload-button" for="image">
            <input type="file" name="image" id="image" class="fileUpload">
            <i class="material-icons">file_upload</i>
            Image
        </label> 
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
